* {
    font-family: Helvetica;
  }
  
  body {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  h1 {
      background-color: rgb(158,194,133);
      color: white;
      font-size: 16px;
      height: 30px;
      width: 350px;
      text-align: center;
      line-height: 30px;
  }
  
  table {
      width: 350px;
  }
  
  .skills {
      color: rgb(245,178,95);
      text-align: left;
      line-height: 30px;
      width: 370px;
  }
  
  .remove {
      background-color: rgb(210,109,106);
      color: white;
      height: 30px;
      width: 30px;
      line-height: 30px;
      font-weight: bold;
  }
  
  section {
      width: 350px;
  }
  
  input {
      height: 30px;
      width: 265px;
      border-color: rgb(158,194,133);
      border-width: 2px;
      border-style: solid;
      font-weight: bold;
  }
  
  #addSkill {
      background-color: white;
      color: rgb(158,194,133);
      height: 35px;
      border-color: rgb(158,194,133);
      border-width: 2px;
  }